:root {
    --color-blue:#0075ff;
    --color-blue-alt:#0d69d5;
    --color-orange:#f59e0b;
    --color-green:#22c55e; 
    --color-red:#f44336; 
    --color-grey:#888;    
    --color-grey-ccc:#ccc; 
}

/*  
c-green mt-5 
*/
/* Button  */

/* Start Quick Draft Widget */
.page .btn-shape {
    background-color: var(--color-blue);
    outline: none;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: .4s;
}


/* Start PAdding et margin */


.mt-0 {
    margin-top: 0px;
}
.m-20 {
    margin: 20px;
}
.ml-10{
    margin-left: 10px;
}
.ml-70{
    margin-left: 70px;
}
.ml-60{
    margin-left: 60px;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-15{
    margin-right: 15px;
}
.mt-5 {
    margin-top: 5px;
} 
.mt-10 {
    margin-top: 10px;
} 
.mt-20 {
    margin-top: 20px;
} 
 

@media (max-width:767px) {
    
.mt-20 {
    margin-top: 10px;
} 

.p-20 {
    padding: 10px; 
}
}

.mt-40 {
    margin-top: 40px;
} 
.mt-15 {
    margin-top: 15px;
} 
.mt-10 {
    margin-top: 10px;
} 
.mt-25 {
    margin-top: 25px;
} 
.mb-20  {
    margin-bottom: 20px;
} 
.mb-15  {
    margin-bottom: 15px;
} 
.mb-30  {
    margin-bottom: 30px;
} 
.mb-10  {
    margin-bottom: 10px;
} 
.mb-5  {
    margin-bottom: 5px;
} 
.p-20 {
    padding: 20px;
}
.pt-0 {
    padding-top: 0px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.p-5 {
    padding: 5px;
} 
.p-10 {
    padding: 10px;
} 

.p-15 {
    padding: 15px;
} 

.pt-20 {
    padding-top: 20px;
}
.brdr-sold-1-ccc   {
    border: 1px solid #ccc;
} 
.brdr-sold-1-6f   {
    border: 1px solid #6f6d6d;
} 
.b-b-sold-1-ccc  {
    border-bottom: 1px solid #ccc;
} 
.b-t-sold-1-ccc  {
    border-top: 1px solid #ccc;
} 
.rad-6 {
    border-radius: 6px;
}
.rad-50{
    border-radius: 50%;
}
.rad-10 {
    border-radius: 10px;
}
.mx-w-100 {
    max-width: 100%;
}
.mx-w-200px {
    max-width: 200px;
}
.mx-w-80px {
    max-width: 80px;
}
/* End PAdding et margin */
/* Start  color et Backgroung color */

.bg-yellow {
    background-color: yellow !important;
} 
.bg-red {
    background-color:var(--color-red) !important;
} 
.bg-orange {
    background-color:var(--color-orange) !important;
} 
.bg-green {
    background-color:var(--color-green) !important;
} 
.bg-grey {
    background-color:var(--color-grey) !important ;
} 
.bg-white {
    background-color: white !important;
} 
.bg-eee {
    background-color: #eee !important;
}
.bg-blue {
    background-color: var(--color-blue) !important;
} 
.c-white {
    color: white;
} 
.c-black {
    color: black !important;
} 
.c-green {
    color: var(--color-green);
}
.c-grey {
    color: var(--color-grey) ;
}
.c-orange {
    color: var(--color-orange);
}
.c-blue {
    color: var(--color-blue);
}
.c-red {
    color: var(--color-red);
}

/* End  color et Backgroung color */ 
 /*Start   Box   */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.gap-20 {
gap: 20px;
}

.align-center {
   align-items: center;
}
.space-between {
    justify-content: space-between;
}
.between-flex {
    display: flex;

}

.d-block { 
    display: block;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .d-block-mobile {
        display: block;
    }
    .hide-in-mobile {
        display: none; 
    }
    .center-in-mobile{  
        margin: 30px auto;
        border-radius: 30px ; 
        height: 70px;
        width: 70px;
       top: -90px !important ;
left: calc(50% - 70px  + 30px )  !important;
    } 

} 

.n-border {
    border: none;
}

 /*End   Box   */ 
 /*Start   Bposition   */ 

 .p-relative {
    position: relative;
 }
 .p-absolut {
    position: absolute;
 }
 
 .w-full {
    width:100% ;  
 }
 .h-full {
    height: 100% ;  
 }
 
 .w-fit {
    width:fit-content ; 
 }
 .w-70 {
    width:70px ; 
 }

 .justify-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .justify-center-gap {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }
 
.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

 /*End   Bposition   */ 
 /* Start FONT   */ 
 .txt-c{ 
    text-align: center;
 }
 .txt-right{ 
    text-align: right;
 }
 @media (max-width:767px) {
    .txt-c-mobile {
    text-align: center; 
    }
 }
 .fs-12 {
    font-size: 12px;
 } 
 .fs-13 {
    font-size: 13px !important;
 } 
 .fs-14 {
    font-size: 14px;
 } 
 .fs-15 {
    font-size: 15px !important;
 }
 .fs-16 {
    font-size: 16px !important;
 }
 .fs-17 {
    font-size: 17px;
 }
 .fs-20 {
    font-size: 20px;
 }
 .fw-bold {
    font-weight: bold;
 }

.disabled-elem {
    cursor: no-drop;
    background-color: #6f6d6d61;
}

 /* End  FONT   */ 



/*

 <label>
            <input class="toggle-check" type="checkbox" checked />
            <div class="toggle-switch"></div>
          </label>



            <!--   <i class="fa-brands fa-facebook-f p-absolut center-flex c-white"></i>
              
                 <i class="fa-brands fa-twitter p-absolut center-flex c-white"></i>
                  <i class="fa-brands fa-youtube p-absolut center-flex c-white"></i>
                   <i class="fa-brands fa-linkedin p-absolut center-flex c-white"></i>
                   <i class="fa-brands fa-square-github p-absolut center-flex c-white"></i>
               -->
*/









/*                              */