.m-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}
.bg-eee {
    background-color: #eee;
} 
.rad-6 {
    border-radius: 6px;
}
.bg-white {
    background-color: white;
}
.c-white {
    color: white;
}
/*                              */




/*                              */


