:root {
    --color-blue:#0075ff;
    --color-blue-alt:#0d69d5;
    --color-orange:#f59e0b;
    --color-green:#22c55e; 
    --color-red:#f44336; 
    --color-grey:#888;    
    --color-grey-ccc:#ccc; 
}

/*  
c-green mt-5 
*/
/* Button  */

/* Start Quick Draft Widget */
.page .btn-shape {
    background-color: var(--color-blue);
    outline: none;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: .4s;
}


/* Start PAdding et margin */


.mt-0 {
    margin-top: 0px;
}
.m-20 {
    margin: 20px;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.mt-5 {
    margin-top: 5px;
} 
.mt-10 {
    margin-top: 10px;
} 
.mt-20 {
    margin-top: 20px;
} 
 

@media (max-width:767px) {
    
.mt-20 {
    margin-top: 10px;
} 

.p-20 {
    padding: 10px; 
}
}

.mt-40 {
    margin-top: 40px;
} 
.mt-10 {
    margin-top: 10px;
} 
.mb-20  {
    margin-bottom: 20px;
} 
.mb-10  {
    margin-bottom: 10px;
} 
.mb-5  {
    margin-bottom: 5px;
} 
.p-20 {
    padding: 20px;
}
.pt-0 {
    padding-top: 0px;
}
.p-5 {
    padding: 5px;
} 
.p-10 {
    padding: 10px;
} 

.p-15 {
    padding: 15px;
} 

.pt-20 {
    padding-top: 20px;
}
.brdr-sold-1-ccc {
    border: 1px solid #ccc;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.mx-w-100 {
    max-width: 100%;
}
.mx-w-200px {
    max-width: 200px;
}
.mx-w-80px {
    max-width: 80px;
}
/* End PAdding et margin */
/* Start  color et Backgroung color */

.bg-white {
    background-color: white;
} 
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--color-blue);
} 
.c-white {
    color: white;
} 
.c-black {
    color: black;
} 
.c-green {
    color: var(--color-green);
}
.c-grey {
    color: var(--color-grey);
}
.c-orange {
    color: var(--color-orange);
}

/* End  color et Backgroung color */ 
 /*Start   Box   */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.gap-20 {
gap: 20px;
}

.align-center {
   align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-block { 
    display: block;
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .d-block-mobile {
        display: block;
    }
    .hide-in-mobile {
        display: none; 
    }
    .center-in-mobile{  
        margin: 30px auto;
        border-radius: 30px ; 
        height: 70px;
        width: 70px;
       top: -90px !important ;
left: calc(50% - 70px  + 30px )  !important;
    } 

} 

.n-border {
    border: none;
}

 /*End   Box   */ 
 /*Start   Bposition   */ 

 .p-relative {
    position: relative;
 }
 .p-absolut {
    position: absolute;
 }
 
 .w-full {
    width:100% ; 
 }
 .w-fit {
    width:fit-content ; 
 }

 .justify-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .justify-center-gap {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }
 
.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

 /*End   Bposition   */ 
 /* Start FONT   */ 
 .txt-c{ 
    text-align: center;
 }
 .txt-right{ 
    text-align: right;
 }
 @media (max-width:767px) {
    .txt-c-mobile {
    text-align: center; 
    }
 }
 .fs-12 {
    font-size: 12px;
 } 
 .fs-13 {
    font-size: 13px;
 } 
 .fs-14 {
    font-size: 14px;
 } 
 .fs-15 {
    font-size: 15px;
 }
 .fs-16 {
    font-size: 16px;
 }
 .fs-17 {
    font-size: 17px;
 }
 .fs-20 {
    font-size: 20px;
 }
 .fw-bold {
    font-weight: bold;
 }

 /* End  FONT   */ 













/*                              */


