:root {
    --color-blue:#0075ff;
    --color-blue-alt:#0d69d5;
    --color-orange:#f59e0b;
    --color-green:#22c55e; 
    --color-red:#f44336; 
    --color-grey:#888;    
    --color-grey-ccc:#ccc; 
}

/*  
c-green mt-5 
*/

/* Start PAdding et margin */


.mt-0 {
    margin-top: 0px;
}
.m-20 {
    margin: 20px;
}
.mt-5 {
    margin-top: 5px;
} 
.mt-10 {
    margin-top: 10px;
} 
.mt-20 {
    margin-top: 20px;
} 
.mb-20  {
    margin-bottom: 20px;
} 
.p-20 {
    padding: 20px;
}
.pt-0 {
    padding-top: 0px;
}
.p-5 {
    padding: 5px;
} 
.p-10 {
    padding: 10px;
} 

.p-15 {
    padding: 15px;
} 

.pt-20 {
    padding-top: 20px;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.mx-w-100 {
    max-width: 100%;
}
.mx-w-200px {
    max-width: 200px;
}
.mx-w-80px {
    max-width: 80px;
}
/* End PAdding et margin */
/* Start  color et Backgroung color */

.bg-white {
    background-color: white;
} 
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--color-blue);
} 
.c-white {
    color: white;
} 
.c-black {
    color: black;
} 
.c-green {
    color: var(--color-green);
}
.c-grey {
    color: var(--color-grey);
}

/* End  color et Backgroung color */ 
 /*Start   Box   */
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.gap-20 {
gap: 20px;
}

.align-center {
   align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-block { 
    display: block;
}

@media (max-width:767px) {
    .d-block-mobile {
        display: block;
    }
} 

 /*End   Box   */ 
 /*Start   Bposition   */ 

 .p-relative {
    position: relative;
 }
 .p-absolut {
    position: absolute;
 }
 
 .w-full {
    width:100% ; 
 }

 .justify-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 /*End   Bposition   */ 
 /* Start FONT   */ 
 .txt-c{ 
    text-align: center;
 }
 .txt-right{ 
    text-align: right;
 }
 @media (max-width:767px) {
    .txt-c-mobile {
    text-align: center; 
    }
 }
 .fs-14 {
    font-size: 14px;
 }

 /* End  FONT   */ 













/*                              */


